/* Font for page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800&display=swap');
/* 
Css for Universal selector   */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    color: white;

}

body::-webkit-scrollbar {
    /* Hiding scrollbar but functionality would be same*/
    display: none;
}

/* Color variables */
:root {
    --semi-light-purple: hsl(236, 21%, 43%);
    --light-purple: hsl(228, 16%, 76%)
}

body {
    height: 100vh;
    width: 100%;
    background: #000;
}

.main-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    
}

.left-container {
    flex-basis: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow-y: hidden;
}

.right-container {
    flex-basis: 50%;
    height: 100%;
    background-color: var(--semi-light-purple);
}

.left-container>.center-img {

    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 10%;

}

.left-container>img {
    width: 100%;
    height: 100%;
}

.left-container>.data {
    padding: 10px 0 0 10px;

}

.left-container>.data>h1 {
    color: var(--semi-light-purple);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;

}

.left-container>.data>p {
    font-weight: 200;
    color: var(--light-purple);
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container>.center>h1 {
    font: size 30px;
    color: var(--light-purple);
    font-weight: 600;
    margin-bottom: 20px;

}

.right-container>.center>.btn-center {
    display: flex;
    justify-content: center;
}

.right-container>.center>.btn-center .btn {
    font-size: 20px;
    background: transparent;
    color: var(--light-purple);
    padding: 10px 50px;
    border: 0;
    border: 1px solid var(--light-purple);
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        color: #000;
    }
}

.second-page {
    /* height: 100vh; */
    background: var(--semi-light-purple);
}

.second-page>.upper-section {
    height: 40vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);


}

.second-page>.upper-section>h1,
.third-page>h3 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 30px;
    color: var(--light-purple)
}

.second-page>.upper-section>.three-sections {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 30px;
    padding-top: 20px;


}

.second-page>.upper-section>.three-sections>div>h1 {
    font-size: 20px;
    font-weight: 400;
    color: var(--light-purple);
}

.second-page>#bottom-section {
    /* height: 60vh; */
    width: 100vw;
    background: var(--semi-light-purple);
}

.second-page>#bottom-section>h1,
.third-page>h1 {
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
    color: var(--light-purple)
}

.third-page {
    background: rgb(0, 0, 0)
}

.third-page>h3>.span {
    font-weight: 100;
}

.third-page>.third-page-container {
    padding: 30px;
}

.third-page>.third-page-container>input {
    width: 100%;
    padding: 8px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid #575A85;
    border-radius: 3px;

    &:placeholder-shown {
        font-size: 15px;
    }

}

.third-page-container .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 50px;
    margin-top: 20px;
 
}
@media (max-width:600px){
    .third-page-container .grid-container {
        display: grid;
       
        grid-template-columns: auto;
    }
}
.third-page-container .grid-container>div {
    /* border: 1px solid white; */
    border-radius: 4px;
    background: var(--semi-light-purple);
    padding: 10px;
 
}

.third-page-container .grid-container>div> h3 {
    font-weight: 500;
    font-size: 20px;
    color: var(--light-purple);
    padding: 5px 0;
    margin-right:  10px;

}
.third-page-container .grid-container>div> .grid-item > span{
    font-size: 10px;
}